{
    "weather": {
        "api_key": "your openweathermap key",
        "location": "Copenhagen,dk"
    },
    "reddit": {
        "client_id": "",
        "client_secret": "",
        "refresh_token": ""
    }
}
