{
    "weather": {
        "api_key": "your openweathermap key",
        "location": "Copenhagen,dk"
    },
    "reddit": {
        "client_id": "",
        "client_secret": "",
        "refresh_token": ""
    },
    "statusbar": {
        "items": [
            "spotify",
            "reddit",
            "weather",
            "battery",
            "date"
        ]
    },
    "slack": {
        "token": "",
        "channel_ratings": {
            "good": [
                ""
            ],
            "medium": [
                ""
            ],
            "bad": [
                ""
            ]
        }
    },
}
